In [2]:
import pandas as pd

In [4]:
annuaire_education_dataframe = pd.read_csv('data/fr-en-annuaire-education.csv', sep=';')
indicateur_resultat_lycee_dataframe = pd.read_csv('data/fr-en-indicateurs-de-resultat-des-lycees-gt_v2.csv', sep=';')

df = pd.merge(annuaire_education_dataframe, indicateur_resultat_lycee_dataframe, left_on='Identifiant_de_l_etablissement', right_on='UAI')

df

C:\Users\trist\AppData\Local\Temp\ipykernel_22256\844801828.py:1: DtypeWarning: Columns (18,19,20,39,41,60,63) have mixed types. Specify dtype option on import or set low_memory=False.
  annuaire_education_dataframe = pd.read_csv('data/fr-en-annuaire-education.csv', sep=';')

,Identifiant_de_l_etablissement,Nom_etablissement,Type_etablissement,Statut_public_prive,Adresse_1,Adresse_2,Adresse_3,Code_postal,Code_commune,Nom_commune,...,Valeur ajoutee du taux de mentions - S2TMD,Valeur ajoutee du taux de mentions - STHR,Nombre de mentions TB avec felicitations - G,Nombre de mentions TB sans felicitations - G,Nombre de mentions B - G,Nombre de mentions AB - G,Nombre de mentions TB avec felicitations - T,Nombre de mentions TB sans felicitations - T,Nombre de mentions B - T,Nombre de mentions AB - T
0,0951728M,Lycée Edmond Rostand,Lycée,Public,75 rue de Paris,NaN,NaN,95310,95572,Saint-Ouen-l'Aumône,...,NaN,NaN,2.0,11.0,24.0,44.0,NaN,NaN,7.0,30.0
1,0951728M,Lycée Edmond Rostand,Lycée,Public,75 rue de Paris,NaN,NaN,95310,95572,Saint-Ouen-l'Aumône,...,NaN,NaN,1.0,4.0,28.0,47.0,NaN,NaN,2.0,8.0
2,0951728M,Lycée Edmond Rostand,Lycée,Public,75 rue de Paris,NaN,NaN,95310,95572,Saint-Ouen-l'Aumône,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0951728M,Lycée Edmond Rostand,Lycée,Public,75 rue de Paris,NaN,NaN,95310,95572,Saint-Ouen-l'Aumône,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0951728M,Lycée Edmond Rostand,Lycée,Public,75 rue de Paris,NaN,NaN,95310,95572,Saint-Ouen-l'Aumône,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27899,0421034W,Lycée général et technologique privé Sévigné,Lycée,Privé,4 rue JULES VALLES,NaN,42023 ST ETIENNE CEDEX 2,42023,42218,Saint-Etienne,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27900,0421034W,Lycée général et technologique privé Sévigné,Lycée,Privé,4 rue JULES VALLES,NaN,42023 ST ETIENNE CEDEX 2,42023,42218,Saint-Etienne,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27901,0421034W,Lycée général et technologique privé Sévigné,Lycée,Privé,4 rue JULES VALLES,NaN,42023 ST ETIENNE CEDEX 2,42023,42218,Saint-Etienne,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27902,0660907C,"Lycée technologique, annexe du lycée Pablo Pic...",Lycée,Public,Route Nationale 114,NaN,66200 THEZA,66200,66208,Théza,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27903,0802140S,Micro-lycée de l'académie d'amiens,Lycée,Public,Rue Montaigne,NaN,80080 AMIENS,80080,80021,Amiens,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN